### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
#Display the total number of players
total_players = purchase_data_df["SN"].nunique()
pd.DataFrame({
    "Total Players": [total_players]
})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Run basic calculations to obtain number of unique items, average price, etc.
unique_items = purchase_data_df["Item Name"].nunique()
average_price = purchase_data_df["Price"].mean()
total_purchases = purchase_data_df["Purchase ID"].count()
total_revenue = purchase_data_df["Price"].sum()

#Create a summary data frame to hold the results
summary_df = pd.DataFrame({
    "Number of Unique Items": [unique_items],
    "Average Price": [average_price],
    "Number of Purchases": [total_purchases],
    "Total Revenue": [total_revenue]})

#Optional: give the displayed data cleaner formatting (do this last)

#Display the summary data frame
summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#Find total count of Gender first by grouping gender
grouped_gender = purchase_data_df.groupby(['Gender'])

#Percentage and Count of Players by Gender
gender_percentage = (purchase_data_df['Gender'].value_counts(normalize=True) * 100)
gender_count = (purchase_data_df['Gender'].value_counts())

#Display summary table
gender_demographics_df = pd.DataFrame({
    "Total Count": gender_count,
    "Percentage of Players": gender_percentage})

gender_demographics_df

                       Total Count  Percentage of Players
Male                           652              83.589744
Female                         113              14.487179
Other / Non-Disclosed           15               1.923077


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Find total count of Gender first by grouping gender
grouped_gender = purchase_data_df.groupby(['Gender'])

#Find Purchase Count by Gender
purchase_count = grouped_gender["Purchase ID"].count()

#Find Average Purchase Price by Gender
average_purchase = grouped_gender["Price"].mean()

#Find Total Purchase Value by Gender
total_purchase_value = grouped_gender["Price"].sum()

#Find Average Total Purchase per Person
average_purchase_total = total_purchase_value/gender_count

gender_demographics = pd.DataFrame({
    "Purchase Count": purchase_count,
    "Average Purchase Price": average_purchase,
    "Average Purchase Value":total_purchase_value,
    "Avg Purchase Total per Person": average_purchase_total})

#Add in formatting - do this last

gender_demographics

,Purchase Count,Average Purchase Price,Average Purchase Value,Avg Purchase Total per Person
Gender,,,,
Female,113,3.203009,361.94,3.203009
Male,652,3.017853,1967.64,3.017853
Other / Non-Disclosed,15,3.346000,50.19,3.346000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
#Establish bins for ages
bins=[0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Categorize the existing players using the age bins. Hint: use pd.cut()
age_group=purchase_data_df
age_group["Age Group"] = pd.cut(age_group["Age"], bins, labels=group_names)
age_group

#Calculate the numbers and percentages by age group
age_percentage = (age_group["Age Group"].value_counts(normalize=True) * 100)
age_count = (age_group["Age Group"].value_counts())

#Create a summary data frame to hold the results
age_group_df = pd.DataFrame({
    "Total Count": age_count,
    "Percentage of Players": age_percentage})

sorted_age_group_df=age_group_df.sort_index()

#Optional: round the percentage column to two decimal points

#Display Age Demographics Table
sorted_age_group_df

       Total Count  Percentage of Players
<10             23               2.948718
10-14           28               3.589744
15-19          136              17.435897
20-24          365              46.794872
25-29          101              12.948718
30-34           73               9.358974
35-39           41               5.256410
40+             13               1.666667

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#Establish bins for ages
bins=[0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Categorize the existing players using the age bins. Hint: use pd.cut()
age_group = purchase_data_df
age_group["Age Group"] = pd.cut(age_group["Age"], bins, labels=group_names)
age_group

#Find Purchase Count by Age
age_purchase_count = purchase_data_df["Purchase ID"].count()

#Find Average Purchase Price by Age
age_average_purchase = purchase_data_df["Price"].mean()

#Find Total Purchase Value by Age
age_total_purchase_value = purchase_data_df["Price"].sum()

#Find Average Total Purchase per Person
age_average_purchase_total = age_total_purchase_value/age_count

age_demographics = pd.DataFrame({
    "Purchase Count": age_purchase_count,
    "Average Purchase Price": age_average_purchase,
    "Average Purchase Value": age_total_purchase_value,
    "Avg Purchase Total per Person": age_average_purchase_total})

#Add in formatting - do this last

age_demographics

,Purchase Count,Average Purchase Price,Average Purchase Value,Avg Purchase Total per Person
20-24,780,3.050987,2379.77,6.519918
15-19,780,3.050987,2379.77,17.498309
25-29,780,3.050987,2379.77,23.562079
30-34,780,3.050987,2379.77,32.599589
35-39,780,3.050987,2379.77,58.043171
10-14,780,3.050987,2379.77,84.991786
<10,780,3.050987,2379.77,103.468261
40+,780,3.050987,2379.77,183.059231

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [26]:
#Find total count of Gender first by grouping gender
grouped_SN = purchase_data_df.groupby(["SN"])

#Find Purchase Count by Gender
SN_purchase_count = grouped_SN["Purchase ID"].count()

#Find Average Purchase Price by Gender
SN_average_purchase = grouped_SN["Price"].mean()

#Find Total Purchase Value by Gender
SN_total_purchase_value = grouped_SN ["Price"].sum()

#Find Average Total Purchase per Person
SN_average_purchase_total = total_purchase_value

SN_demographics_df = pd.DataFrame({
    "Purchase Count": SN_purchase_count,
    "Average Purchase Price": SN_average_purchase,
    "Average Purchase Value": SN_total_purchase_value,
    "Avg Purchase Total per Person": SN_average_purchase_total})

sorted_SN_demographics_df = SN_demographics_df.sortby("Purchase Count")

SN_demographics_df

AttributeError: 'DataFrame' object has no attribute 'sort_by'

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame